<%
  const cls = [
    typeof base !== 'undefined' ? base : 'btn',
    typeof variant !== 'undefined' ? variant : 'btn-primary',
    typeof classes !== 'undefined' ? classes : null
  ]
    .filter(Boolean)
    .join(' ');
  const isLink = typeof href !== 'undefined';
%>
<% if (isLink) { %>
<a href="<%= href %>" class="<%= cls %>" <% if (typeof id !== 'undefined') { %>id="<%= id %>" <% } %><%- typeof extra !== 'undefined' ? ' ' + extra : '' %>>
  <% if (typeof icon !== 'undefined') { %><i class="<%= icon %>"></i><% } %><%= typeof text !== 'undefined' ? text : '' %>
</a>
<% } else { %>
<button type="<%= typeof type !== 'undefined' ? type : 'button' %>" class="<%= cls %>" <% if (typeof id !== 'undefined') { %>id="<%= id %>" <% } %><%- typeof extra !== 'undefined' ? ' ' + extra : '' %>>
  <% if (typeof icon !== 'undefined') { %><i class="<%= icon %>"></i><% } %><%= typeof text !== 'undefined' ? text : '' %>
</button>
<% } %>
