<button
  type="<%= type || 'button' %>"
  class="btn <%= variant || 'btn-primary' %> <%= classes || '' %>"
  <% if (id) { %>id="<%= id %>" <% } %><%- extra ? ' ' + extra : '' %>>
  <%= text %>
</button>
