<%
  const cls = [base ?? 'btn', variant ?? 'btn-primary', classes]
    .filter(Boolean)
    .join(' ');
%>
<button
  type="<%= type || 'button' %>"
  class="<%= cls %>"
  <% if (id) { %>id="<%= id %>" <% } %><%- extra ? ' ' + extra : '' %>>
  <% if (icon) { %><i class="<%= icon %>"></i><% } %><%= text || '' %>
</button>
