<% if (typeof wrapperClass !== 'undefined') { %>
<div class="<%= wrapperClass %>">
<% } %>
  <input
    type="<%= type %>"
    name="<%= name %>"
    <% if (typeof id !== 'undefined') { %>id="<%= id %>" <% } %>
    class="form-control <%= typeof inputClass !== 'undefined' ? inputClass : '' %>"
    placeholder="<%= typeof placeholder !== 'undefined' ? placeholder : '' %>"
    <%= typeof required !== 'undefined' && required ? 'required' : '' %><%- typeof extra !== 'undefined' ? ' ' + extra : '' %>>
<% if (typeof wrapperClass !== 'undefined') { %>
</div>
<% } %>
