<!DOCTYPE html>
<html>
<head>
  <%- include('partials/common-head') %>
  <%- head %>
</head>
<body class="<%= typeof bodyClass !== 'undefined' ? bodyClass : '' %>">
  <%- include('partials/header') %>
  <%- include('partials/nav-buttons') %>
  <%- body %>
</body>
</html>
