<!DOCTYPE html>
<html>
<head>
  <%- include('partials/common-head') %>
  <%- typeof head !== 'undefined' ? head : '' %>
</head>
<body class="<%= typeof bodyClass !== 'undefined' ? bodyClass : '' %>">
  <% if (typeof showHeader === 'undefined' || showHeader) { %>
    <%- include('partials/header') %>
  <% } %>
  <% if (typeof showNav === 'undefined' || showNav) { %>
    <%- include('partials/nav-buttons') %>
  <% } %>
  <%- typeof body !== 'undefined' ? body : '' %>
</body>
</html>
